In [80]:
import pandas as pd
import numpy as np

In [81]:
cc=pd.read_csv(r'/Users/sumangowda/Downloads/crx.data',header=None)
cc

    0      1       2  3  4   5   6     7  8  9   10 11 12     13   14 15
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  00202    0  +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g  00043  560  +
2    a  24.50   0.500  u  g   q   h  1.50  t  f   0  f  g  00280  824  +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  00100    3  +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  00120    0  +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..    ...  ... ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.29  f  f   0  t  g  00000    0  -

[690 rows x 16 columns]

Gender, Age, Debt, Married, BankCustomer, EducationLevel, Ethnicity, YearsEmployed, PriorDefault, Employed, CreditScore, DriversLicense, Citizen, ZipCode, Income , ApprovalStatus.

In [82]:
header=['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'EducationLevel', 'Ethnicity', 'YearsEmployed'
              , 'PriorDefault', 'Employed', 'CreditScore', 'DriversLicense', 'Citizen', 'ZipCode', 
              'Income' , 'ApprovalStatus']

In [83]:
cc.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], dtype='int64')

In [84]:
cc.columns=header

In [104]:
cc
# Impute the missing values with mean imputation
cc.fillna(cc.mean(), inplace=True)
# Count the number of NaNs in the dataset to verify
cc.isnull().sum()

Gender            0
Age               0
Debt              0
Married           0
BankCustomer      0
EducationLevel    0
Ethnicity         0
YearsEmployed     0
PriorDefault      0
Employed          0
CreditScore       0
DriversLicense    0
Citizen           0
ZipCode           0
Income            0
ApprovalStatus    0
dtype: int64

In [86]:
cc_apps_description = cc.describe()
print(cc_apps_description)

print("\n")

# Print DataFrame information
cc_apps_info = cc.info()
print(cc_apps_info)

print("\n")

# Inspect missing values in the dataset
cc.tail(17)

             Debt  YearsEmployed  CreditScore         Income
count  690.000000     690.000000    690.00000     690.000000
mean     4.758725       2.223406      2.40000    1017.385507
std      4.978163       3.346513      4.86294    5210.102598
min      0.000000       0.000000      0.00000       0.000000
25%      1.000000       0.165000      0.00000       0.000000
50%      2.750000       1.000000      0.00000       5.000000
75%      7.207500       2.625000      3.00000     395.500000
max     28.000000      28.500000     67.00000  100000.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    object
 1   Age             690 non-null    object
 2   Debt            690 non-null    float64
 3   Married         690 non-null    object
 4   BankCustomer    690 non-null    object
 5   EducationLevel  690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    object
 9   Employed        690 non-null    object
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    object
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    object
 14  Income          690 non-null    int64
 15  ApprovalStatus  690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB
None

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
673,?,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,00256,17,-
674,a,37.33,2.500,u,g,i,h,0.210,f,f,0,f,g,00260,246,-
675,a,41.58,1.040,u,g,aa,v,0.665,f,f,0,f,g,00240,237,-
676,a,30.58,10.665,u,g,q,h,0.085,f,t,12,t,g,00129,3,-
677,b,19.42,7.250,u,g,m,v,0.040,f,t,1,f,g,00100,1,-
678,a,17.92,10.210,u,g,ff,ff,0.000,f,f,0,f,g,00000,50,-
679,a,20.08,1.250,u,g,c,v,0.000,f,f,0,f,g,00000,0,-
680,b,19.50,0.290,u,g,k,v,0.290,f,f,0,f,g,00280,364,-
681,b,27.83,1.000,y,p,d,h,3.000,f,f,0,f,g,00176,537,-
682,b,17.08,3.290,u,g,i,v,0.335,f,f,0,t,g,00140,2,-
683,b,36.42,0.750,y,p,d,v,0.585,f,f,0,f,g,00240,3,-
684,b,40.58,3.290,u,g,m,v,3.500,f,f,0,t,s,00400,0,-
685,b,21.08,10.085,y,p,e,h,1.250,f,f,0,f,g,00260,0,-
686,a,22.67,0.750,u,g,c,v,2.000,f,t,2,t,g,00200,394,-
687,a,25.25,13.500,y,p,ff,ff,2.000,f,t,1,t,g,00200,1,-
688,b,17.92,0.205,u,g,aa,v,0.040,f,f,0,f,g,00280,750,-
689,b,35.00,3.375,u,g,c,h,8.290,f,f,0,t,g,00000,0,-

In [121]:
print(cc.tail(17))

# Replace the '?'s with NaN
cc = cc.replace('?', np.NAN)

# Inspect the missing values again
cc.tail(17)

     Gender  Age  Debt  Married  BankCustomer  EducationLevel  Ethnicity  \
673       1  140     2        3             3               5          4
674       0  214     2        2             1               7          4
675       0  248     1        2             1               0          8
676       0  153    10        2             1              11          4
677       1   36     7        2             1              10          8
678       0   20    10        2             1               6          3
679       0   42     1        2             1               2          8
680       1   37     0        2             1               9          8
681       1  125     1        3             3               4          4
682       1   12     3        2             1               7          8
683       1  208     0        3             3               4          8
684       1  240     3        2             1              10          8
685       1   52    10        3             3               5          4
686       0   71     0        2             1               2          8
687       0   97    13        3             3               6          3
688       1   20     0        2             1               0          8
689       1  197     3        2             1               2          4

     YearsEmployed  PriorDefault  Employed  CreditScore  DriversLicense  \
673              2             0         0            0               0
674              0             0         0            0               0
675              0             0         0            0               0
676              0             0         1           12               1
677              0             0         1            1               0
678              0             0         0            0               0
679              0             0         0            0               0
680              0             0         0            0               0
681              3             0         0            0               0
682              0             0         0            0               1
683              0             0         0            0               0
684              3             0         0            0               1
685              1             0         0            0               0
686              2             0         1            2               1
687              2             0         1            1               1
688              0             0         0            0               0
689              8             0         0            0               1

     Citizen  ZipCode  Income  ApprovalStatus
673        0       89      17               1
674        0       90     246               1
675        0       84     237               1
676        0       40       3               1
677        0       31       1               1
678        0        0      50               1
679        0        0       0               1
680        0       96     364               1
681        0       60     537               1
682        0       44       2               1
683        0       84       3               1
684        2      129       0               1
685        0       90       0               1
686        0       67     394               1
687        0       67       1               1
688        0       96     750               1
689        0        0       0               1

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
673,1,140,2,3,3,5,4,2,0,0,0,0,0,89,17,1
674,0,214,2,2,1,7,4,0,0,0,0,0,0,90,246,1
675,0,248,1,2,1,0,8,0,0,0,0,0,0,84,237,1
676,0,153,10,2,1,11,4,0,0,1,12,1,0,40,3,1
677,1,36,7,2,1,10,8,0,0,1,1,0,0,31,1,1
678,0,20,10,2,1,6,3,0,0,0,0,0,0,0,50,1
679,0,42,1,2,1,2,8,0,0,0,0,0,0,0,0,1
680,1,37,0,2,1,9,8,0,0,0,0,0,0,96,364,1
681,1,125,1,3,3,4,4,3,0,0,0,0,0,60,537,1
682,1,12,3,2,1,7,8,0,0,0,0,1,0,44,2,1
683,1,208,0,3,3,4,8,0,0,0,0,0,0,84,3,1
684,1,240,3,2,1,10,8,3,0,0,0,1,2,129,0,1
685,1,52,10,3,3,5,4,1,0,0,0,0,0,90,0,1
686,0,71,0,2,1,2,8,2,0,1,2,1,0,67,394,1
687,0,97,13,3,3,6,3,2,0,1,1,1,0,67,1,1
688,1,20,0,2,1,0,8,0,0,0,0,0,0,96,750,1
689,1,197,3,2,1,2,4,8,0,0,0,1,0,0,0,1

In [88]:
cc.shape

(690, 16)

In [122]:
display(cc.columns)

for col in cc.columns:
    # Check if the column is of object type
    if cc[col].dtypes == 'object':
        # Impute with the most frequent value
        cc= cc.fillna(cc[col].value_counts().index[0])

# Count the number of NaNs in the dataset and print the counts to verify
print(cc.isnull().sum())

Index(['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'EducationLevel',
       'Ethnicity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore',
       'DriversLicense', 'Citizen', 'ZipCode', 'Income', 'ApprovalStatus'],
      dtype='object')

Gender            0
Age               0
Debt              0
Married           0
BankCustomer      0
EducationLevel    0
Ethnicity         0
YearsEmployed     0
PriorDefault      0
Employed          0
CreditScore       0
DriversLicense    0
Citizen           0
ZipCode           0
Income            0
ApprovalStatus    0
dtype: int64

In [136]:
cc.reset_index()

,index,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,0,1,156,0,2,1,13,8,1,1,1,1,0,0,68,0,0
1,1,0,328,4,2,1,11,4,3,1,1,6,0,0,11,560,0
2,2,0,89,0,2,1,11,4,1,1,0,0,0,0,96,824,0
3,3,1,125,1,2,1,13,8,3,1,1,5,1,0,31,3,0
4,4,1,43,5,2,1,13,8,1,1,0,0,0,2,37,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,685,1,52,10,3,3,5,4,1,0,0,0,0,0,90,0,1
686,686,0,71,0,2,1,2,8,2,0,1,2,1,0,67,394,1
687,687,0,97,13,3,3,6,3,2,0,1,1,1,0,67,1,1
688,688,1,20,0,2,1,0,8,0,0,0,0,0,0,96,750,1
689,689,1,197,3,2,1,2,4,8,0,0,0,1,0,0,0,1

In [137]:
from sklearn.preprocessing import LabelEncoder

# Instantiate LabelEncoder
le = LabelEncoder() 

# Iterate over all the values of each column and extract their dtypes
for col in cc.columns.to_numpy():
    # Compare if the dtype is object
    if cc[col].dtypes =='object':
    # Use LabelEncoder to do the numeric transformation
        cc[col]=le.fit_transform(cc[col])

In [138]:
cc.columns

Index(['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'EducationLevel',
       'Ethnicity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore',
       'DriversLicense', 'Citizen', 'ZipCode', 'Income', 'ApprovalStatus'],
      dtype='object')

In [140]:
cc[['Debt','YearsEmployed']] = cc[['Debt','YearsEmployed']].astype(int)

In [141]:
cc.ApprovalStatus.unique()

array([0, 1])

In [142]:
from sklearn.model_selection import train_test_split

In [143]:
y = df['ApprovalStatus']
X = df.drop(['ApprovalStatus'], axis=1)

In [144]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [145]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

# Create MinMaxScaler object
scaler = MinMaxScaler(feature_range=(0, 1))

# Impute missing values in X_train and X_test with mean
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Scale features
rescaledX_train = scaler.fit_transform(X_train_imputed)
rescaledX_test = scaler.transform(X_test_imputed)

/Users/sumangowda/anaconda3/lib/python3.11/site-packages/sklearn/impute/_base.py:565: UserWarning: Skipping features without any observed values: ['Gender' 'Age' 'Debt' 'Married' 'BankCustomer' 'EducationLevel'
 'Ethnicity' 'YearsEmployed' 'PriorDefault' 'Employed' 'CreditScore'
 'DriversLicense' 'Citizen' 'ZipCode' 'Income']. At least one non-missing value is needed for imputation with strategy='mean'.
  warnings.warn(
/Users/sumangowda/anaconda3/lib/python3.11/site-packages/sklearn/impute/_base.py:565: UserWarning: Skipping features without any observed values: ['Gender' 'Age' 'Debt' 'Married' 'BankCustomer' 'EducationLevel'
 'Ethnicity' 'YearsEmployed' 'PriorDefault' 'Employed' 'CreditScore'
 'DriversLicense' 'Citizen' 'ZipCode' 'Income']. At least one non-missing value is needed for imputation with strategy='mean'.
  warnings.warn(

ValueError: Found array with 0 feature(s) (shape=(552, 0)) while a minimum of 1 is required by MinMaxScaler.

In [132]:

from sklearn.linear_model import LogisticRegression
lo = LogisticRegression()
lo.fit(rescaledX_train, y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [133]:
from sklearn.metrics import confusion_matrix

# Use logreg to predict instances from the test set and store it
y_pred = lo.predict(rescaledX_test)

# Get the accuracy score of logreg model and print it
print("Accuracy of logistic regression classifier: ", lo.score(rescaledX_test, y_test))

# Print the confusion matrix of the logreg model
print(confusion_matrix(y_test, y_pred))

NotFittedError: This LogisticRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.